body {
  box-sizing: border-box;
}

body > * {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#books-form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#add-book {
  width: 3em;
}

.by {
  border: 1px solid mistyrose;
  background: rgb(238, 196, 191);
}
